---
layout: default
---

<div data-role="page" id="aboutpage">

<br />
<br/>
  <br/>

  <br/>
  <br/>
  <!--ID-BLOCKCHAIN aborde la gestion de l’identité numérique et l’authentification forte. ID-BLOCKCHAIN fournit des services d’authentification et de fourniture d’attributs personnels, associés à un dispositif matériel communiquant et sécurisé, dans le respect de la vie privée. ID-BLOCKCHAIN est basé sur les technologies dites blockchain dont Bitcoin est à ce jour l’exemple le plus connu.

  Cette approche disruptive doit permettre d’augmenter le niveau de sécurité et de respect de la vie privée, le niveau de contrôle par l’utilisateur et la transparence dans l’usage tout en diminuant les coûts et le niveau des risques potentiels de dysfonctionnement.
  Ce cas d’usage a donné lieu aux USA à un appel à projet explicite « Applicability of Blockchain Technology to Privacy Respecting Identity Management » du « Department of Homeland Security ».
  Plusieurs travaux et initiatives (NameID, EmerCoin/EMCSSL, ShoCard, Onename, IDCoin, Synereo, ..) sont en cours au niveau international. ID-BLOCKCHAIN vient les compléter entre autre dans la dimension protection de la vie privée, telle qu’elle est définie et réglementée dans les pays européens.
  -->

  ID-BLOCKCHAIN is a joint initiative to investigate the possibilities offered by Blockchain technologies in the field of digital identity management with a particular focus on personal data protection.<br /> The goal of ID-BLOCKCHAIN is to prototype a service combining strong authentication and verifiable claims management; this service will be secured using hardware tokens and provide a high level of privacy.<br /> The project establishes state of art, defines use cases, designs functional and technical architecture, a specific protocol implemented with open source software and hardware assets and validation through prototyping.

  <!--Start Date: October 1, 2016
  Duration: 24 months
  Cost: 1 178 k€
  Effort: 15.5 man*year
  BPI France Funding: 567 k€
  -->

  <div>
      <hr>
    	<ul>
    		<li><b>Start date</b>&nbsp;–&nbsp;1 october 2016</li>
    	</ul>
      <hr>
      <ul>
        <li><b>Duration</b>&nbsp;–&nbsp;24 months</li>
      </ul>
      <hr>
      <ul>
        <li><b>Refunding</b>&nbsp;–&nbsp;by <a href="http://www.bpifrance.fr/">BPI France</a><br></li>
      </ul>
      <hr>
      <ul>
        <li><b>Label</b>&nbsp;–&nbsp;by <a href="http://www.pole-tes.com/">TES Cluster</a><br></li>
      </ul>
    </div>


</div>
<br/>
<br/>
<br/>
<br/>

<div data-role="page" id="memberspage">
  <br/>
  <br/>
    <br/>

    <h2>Members & Sponsors</h2>
    <div id="sponsors"></div>
    <br/>
    <br/>
    <h4 >Sponsors :</h4>
    <br/>
    <div>
    <ul>
    <li><b>BPI France</b>&nbsp;–&nbsp;French government agency for innovation<br><a href="http://www.gouvernement.fr/programme-investissements-avenir"><img src="{{ site.url }}/assets/logo_investissements_avenir320.png"></a></li>
    </ul>
    </div>
    <div id="labels"></div>
    <br />
    <br />
    <h4 >Label :</h4>
    <br />
    <div>
    <ul>
    <li><b>TES Cluster</b>&nbsp;–&nbsp;Secure electronic transactions cluster<br><a href="http://www.pole-tes.com/"><img src="{{ site.url }}/assets/logo-pole-TES320.png"></a></li>
    </ul>
    </div>
    <div id="members"></div>
    <br />
    <br/>
    <h4 >Members :</h4>
    <br/>
    <div>
      	<ul>
      		<li><b>Paymium</b><br><a href="https://www.paymium.com/"><img src="{{ site.url }}/assets/logo-paymium-resized320.png"></a></li>
      	</ul>
        <hr>
        <ul>
          <li><b>Worldline</b><br><a href="http://worldline.com/"><img src="{{ site.url }}/assets/logo-worldline320.png"></a></li>
        </ul>
        <hr>
        <ul>
          <li><b>Ledger</b><br><a href="https://www.ledger.co/"><img src="{{ site.url }}/assets/logo-ledger200.png"></a></li>
        </ul>
        <hr>
        <ul>
          <li><b>Greyc</b><br><a href="https://www.greyc.fr/"><img src="{{ site.url }}/assets/logo-greyc320.png"></a></li>
        </ul>
        <hr>
        <ul>
          <li><b>Liris</b><br><a href="https://liris.cnrs.fr/"><img src="{{ site.url }}/assets/logo-liris320.png"></a></li>
        </ul>
      </div>

</div>
<br/>
<br/>
<br/>
<br/>

<div data-role="page" id="newspage">

<div class="news">
  <br/>
  <br/>
    <br>
    <h2>Events & News</h2>
</div>
<br>
<br>
{% for post in paginator.posts %}
<div class="post-index">
    <div class="post-content">
        <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
            {% if post.summary %}
                <span class="excerpt">{{ post.summary }}</span>
            {% else %}
                <span class="excerpt">{{ post.excerpt | strip_html | truncatewords: 20}}</span>
            {% endif %}
        </p>
        <p class="post-detail">
            {{ post.date | date: site.date_format }}
            {% if site.disqus_shortname %}
              &middot;
              <a href="{{ site.url }}{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
              {% if post.update_date %}
                &middot;
                Updated {{ post.update_date | date: site.date_format }}
              {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  <ul>
      <li class="page-prev">
          {% if paginator.previous_page %}
              <a href="{{ site.url }}{{ paginator.previous_page_path }}#newspage">Prev</a>
          {% else %}
              <span class="disabled">Prev</span>
          {% endif %}
      </li>
      <li>
          <span class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      </li>
      <li class="page-next">
          {% if paginator.next_page %}
              <a href="{{ site.url }}{{ paginator.next_page_path }}#newspage">Next</a></li>
          {% else %}
              <span class="disabled">Next</span>
          {% endif %}
      </li>
  </ul>
</div>

<!-- Add Disqus comment count (not the comments) -->
{% if site.disqus_shortname %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname  = '{{ site.disqus_shortname }}';
  // var disqus_developer = 1; // Comment out when the site is live

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
{% endif %}

</div>
<br/>
<br/>
<br/>
<br/>

<div data-role="page" id="deliverablespage" >
      <div class="documents">
        <br/>
        <br/>
      	<br>
          <h2>Deliverables</h2>
      </div>
      <br>
      <br>
      <ul class="tabs">
        <li class="active" rel="tab1">Documents</li>
        <li rel="tab2">Videos</li>
        <li rel="tab3">Images</li>
      </ul>
      <div class="tab_container">

        <!-- Documents -->
        <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
        <div id="tab1" class="tab_content">
        	<ul>
        		<li><b>Locally hosted link title</b> 01/02/2017&nbsp;–&nbsp;<a href="{{ site.url }}/assets/BlockchainPaper.pdf" download="BlockchainPaper.pdf">Download the pdf</a></li>
        	</ul>
            <ul>
            <li><b>Online link title</b> 01/02/2017&nbsp;–&nbsp;<a href="http://scet.berkeley.edu/wp-content/uploads/BlockchainPaper.pdf" download="newfilename">Download the pdf</a></li>
          </ul>
            </div>

        <!-- Videos -->
        <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
        <div id="tab2" class="tab_content">
        	<ul>
        		<li>Added 01/02/2017&nbsp;–&nbsp;<a href="https://www.youtube.com/watch?v=s4g1XFU8Gto" target="_blank">Absolute link example only</a></li>
        	</ul>
        </div>

        <!-- Images -->
        <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
        <div id="tab3" class="tab_content">
        	<ul>
        		<li><b>Locally hosted link title</b>&nbsp;–&nbsp;Added 01/02/2017<br><img src="{{ site.url }}/assets/Logo-Paymium.png"></img></li>
        	</ul>
          <hr>
          <ul>
            <li><b>Online link title</b>&nbsp;–&nbsp;Added 01/02/2017<br><img src="http://www.savoirscom1.info/wp-content/uploads/2015/12/Blockchain-Logo-Blue6.png"></img></li>
          </ul>
        </div>

      </div>

      <script type="text/javascript">
          $(".tab_content").hide();
          $(".tab_content:first").show();

          $("ul.tabs li").click(function() {

            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#"+activeTab).fadeIn();

            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");

      	  $(".tab_drawer_heading").removeClass("d_active");
      	  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

          });
      	$(".tab_drawer_heading").click(function() {

            $(".tab_content").hide();
            var d_activeTab = $(this).attr("rel");
            $("#"+d_activeTab).fadeIn();

      	  $(".tab_drawer_heading").removeClass("d_active");
            $(this).addClass("d_active");

      	  $("ul.tabs li").removeClass("active");
      	  $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
          });
      	$('ul.tabs li').last().addClass("tab_last");
</script>

    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div data-role="page" id="faqpage">
  <br/>
  <br/>
    <br/>

    <h2>FAQ</h2>
    <br/>
    <br/>
    <head>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
       <script src="//code.jquery.com/jquery-1.10.2.js"></script>
       <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

     <script>
       $(function() {
         $( ".accordion" ).accordion();
         $(".accordion").accordion({ header: "h4", collapsible: true, active: false ,heightStyle: "content" });
       });
       </script>


    </head>
    <div class="accordion">
      <h4>Question 1</h4>
          <div>
            <p></p>
          </div>
      <h4>Question 2</h4>
          <div>
            <p></p>
          </div>
      <h4>Question 3</h4>
        <div>
         <p></p>
        </div>
    </div>


  </div>
<br/>
<br/>
<br/>
<br/>

  <div data-role="page" id="contactpage">
    <br/>
    <br/>
    <br/>

    <h2>Contact us</h2>
    <br/>
    <br/>
    <div>
        <form action="https://formspree.io/{{ site.owner.email }}" method="POST" class="contact">
            <input type="text" name="email" placeholder="Email Address" />
            <textarea type="text" name="content" rows="10" placeholder="Ask us anything"></textarea>
            <input type="hidden" name="_next" value="{{ site.url }}/thanks.html" />
            <input type="hidden" name="_subject" value="New submission!" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" value="Send message" />
        </form>
    </div>

  </div>
