<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IdProviderServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>idpserv.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>idpserv.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>idpserv.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignonServlet</display-name>
    <servlet-name>SignonServlet</servlet-name>
    <servlet-class>idpserv.SignonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignonServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisServlet</display-name>
    <servlet-name>RegisServlet</servlet-name>
    <servlet-class>idpserv.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisServlet</servlet-name>
    <url-pattern>/RegisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDBlockchainServlet</display-name>
    <servlet-name>IDBlockchainServlet</servlet-name>
    <servlet-class>idpserv.IDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDBlockchainServlet</servlet-name>
    <url-pattern>/IDBlockchainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CredentialsServelet</display-name>
    <servlet-name>CredentialsServelet</servlet-name>
    <servlet-class>idpserv.CredPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CredentialsServelet</servlet-name>
    <url-pattern>/CredentialsServelet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ClaimsServlet</display-name>
    <servlet-name>ClaimsServlet</servlet-name>
    <servlet-class>idpserv.ClaimsGiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimsServlet</servlet-name>
    <url-pattern>/ClaimsServlet</url-pattern>
  </servlet-mapping>
</web-app>