/* This is a partial SCSS file */

/* This code is copied & modified from
http://refills.bourbon.io/
MIT License
*/

$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Uncomment this for a sticky footer.
.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.stickyfooter, .wrapper-for-content-outside-of-footer:after {
  height: 17em;
  @include media($large-screen) {
    height: 4em;
  }
}

.stickyfooter {
  padding-top: 80px;
  $base-spacing: 1.2em !default;
  // $footer-background: lighten($theme-color, 15%);
  $footer-background: $white;
  $footer-hover-color: $theme-color;
  $footer-text-color: transparentize($footer-hover-color, 0.6);
  $footer-link-color: transparentize($footer-hover-color, 0.3);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  // display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo {
    height: 1.6em;
    line-height: 0.6em;
    a i {
      font-size: 1.75em;
      color: $footer-hover-color;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    color: $footer-text-color;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $footer-hover-color
    }
  }

  .footer-secondary-links {

    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }

        i {
          font-size: 1.5em;
        }
      }
    }
  }
  .footer-primary-links {
    @include media($large-screen) {
      float: left;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: left;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }

        i {
          font-size: 1.5em;
        }
      }
    }
  }
}

.toggle-nav{
  position: fixed;
  display: none;
}

@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,50,100,0.15);
        border-radius:3px;
        background:#303030;
    }
}

.stickyheader {
  z-index: 10;
  position: fixed;
  padding-bottom: 40px;
  $base-spacing: 1.2em !default;
  // $footer-background: lighten($theme-color, 15%);
  $footer-background: $theme-color;
  $footer-hover-color: $white;
  $footer-text-color: transparentize($footer-hover-color, 0.6);
  $footer-link-color: transparentize($footer-hover-color, 0.3);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  // display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo {
    height: 1.6em;
    line-height: 0.6em;
    a i {
      font-size: 1.75em;
      color: $footer-hover-color;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    color: $footer-text-color;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;
    font-size: 150%;

    &:focus,
    &:hover {
      color: $footer-hover-color
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }

        i {
          font-size: 1.5em;
        }
      }
    }
  }
  li {
       float: left;
   }

  li a, .dropbtn {
       display: inline-block;
       color: $footer-link-color;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }



   li.dropdown {
       display: inline-block;
   }

   .dropdown-content {
       display: none;
       position: absolute;
       background-color: $theme-color;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
   }

   .dropdown-content a {
       color: $footer-link-color;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
   }

   .dropdown-content a:hover {
     color: $footer-hover-color
   }

   .dropdown:hover .dropdown-content {
       display: block;
   }

}

/*----- Responsive -----*/

@media screen and (max-width: 1400px){
  .stickyheader{
    font-size: 20px;
  }
}

@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;

    }
}


@media screen and (max-width: 860px) {
    .stickyheader {

        position:fixed;
        background: none;
        display:inline-block;
    }

    .stickyheader ul.navbar {
        display:none;
    }

    .stickyheader ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:$theme-color;
    }

    .stickyheader ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid $theme-color;
    }

    .stickyheader li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .stickyheader a {
        display:block;
    }

    .toggle-nav {
        padding:20px;
        margin-left: auto;
        margin-right: 0;
        float:right;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:$theme-color;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:transparentize($white, 0.6);
        font-size:20px;
        transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.navbar {
        text-decoration:none;
        color: $white;
    }

}

  .toggle-nav {
    float:right;
    margin-left: auto;
    margin-right: 0;
  }
