/* This is a partial SCSS file */

div.news {
    $button-color: lighten($theme-color, 15%);
    $border-radius: 3px !default;
    $border-width: 1px !default;
    $border-color: #444 !default;

    text-align: left;
    // vertical-align: middle;
    // margin-top: 1em;
    // margin-bottom: 1em;

    h2 {
        margin-top: 2.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    a, a:hover, a:focus, a:active {
        color: $black;
        text-decoration: none;
    }

    input[type="text"] {
        width: 100%;
        vertical-align: middle;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
        padding: 0.75em;
        font-weight: lighter;

        border-style: solid;
        border-color: $border-color;
        border-width: $border-width;
        border-radius: $border-radius;
        transition: box-shadow .2s ease;

        &:focus {
          outline: none;
          border-color: $theme-color;
          box-shadow: 0 0 2px $button-color;
        }
    }
}

