<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IDBServers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet> 
  <description/>
    <display-name>IDPServer</display-name>
    <servlet-name>IDPServer</servlet-name>
    <servlet-class>idProvider.IDPHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>IDPServer</servlet-name>
    <url-pattern>/IDPServer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description/>
    <display-name>ServiceProvider</display-name>
    <servlet-name>ServiceProvider</servlet-name>
    <servlet-class>serviceProvider.SpHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServiceProvider</servlet-name>
    <url-pattern>/SPServer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <description/>
  	<display-name>idBlockChain</display-name>
  	<servlet-name>idBlockChain</servlet-name>
  	<servlet-class>idBlockchain.IDBHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>idBlockChain</servlet-name>
  	<url-pattern>/IDBServer</url-pattern>
  </servlet-mapping>
</web-app>